#work/*
work/*.root
build/*


# CMake gitignore
# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.rndm

work/tune*.txt

work/1\.txt

work/BEAGLE\.txt

work/DIRE-1\.500

work/e_ir\.txt\.my

work/i_ir\.txt\.March07

work/i_ir\.txt\.March07a

work/jleic-g4\.C

work/i_ir\.txt\.my

work/JLEICgeant4

src/G4QuadrupoleMagField\.cc\.my

src/G4QuadrupoleMagField\.cc\.my2

work/a\.txt

work/corrector_optimization\.in~

work/pythia8_CCdis\.hepmc

work/tune
