#work/*
work2/
work/
build/*

# Python virtual environment
venv


# CMake gitignore
# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.rndm

work/
work2/



src/G4QuadrupoleMagField\.cc\.my

src/G4QuadrupoleMagField\.cc\.my2


### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
cmake-build-debug/
cmake-build-relwithdebinfo/

\.idea/encodings\.xml

\.#jleicvis\.mac

src/JLeicDetectorConstruction\.cc\.Apr13

work/#jleicvis\.mac#

work/i_ir\.txt\.old

work/jleic-g4\.C~

\.idea/deployment\.xml

*.gdml

work/

*.txt~

*.srv

*.old

*.hh~

*.usr

src/BeagleEventData.h.example

src/BeagleParticle.h.example

*.cc_4Debug

*.cc~

src/last.kumac

src/paw.metafile

*.backup

tmp

docs_old/build/

docs/_build/

bin/

resources/erhic/__MACOSX/

resources/erhic/madx_eRHIC.zip

*.mac~

*.cc#

*.root

g4epy_lib/examples/test_run.run.json

g4epy_lib/examples/test_run.run.mac

python/examples/lmon/

test/beagle/beagle_smoke_test.run.mac

test/beagle/beagle_smoke_test.run.json
